{% comment %} zuo base jul 26 2022 8:50 {% endcomment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Zuo - Django eCommerce</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Zuo - Django eCommerce" />
    <meta name="author" content="p-themes" />
    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'assets/images/icons/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'assets/images/icons/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'assets/images/icons/favicon-16x16.png' %}"
    />
    <link rel="manifest" href="{% static 'assets/images/icons/site.html' %}" />
    <link
      rel="mask-icon"
      href="{% static 'assets/images/icons/safari-pinned-tab.svg' %}"
      color="#666666"
    />
    <link
      rel="shortcut icon"
      href="{% static 'assets/images/icons/favicon.ico' %}"
    />
    <meta name="apple-mobile-web-app-title" content="Zuo" />
    <meta name="application-name" content="Zuo" />
    <meta name="msapplication-TileColor" content="#cc9966" />
    <meta
      name="msapplication-config"
      content="{% static 'assets/images/icons/browserconfig.xml' %}"
    />
    <meta name="theme-color" content="#ffffff" />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}"
    />
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/plugins/jquery.countdown.css' %}"
    />
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/skins/skin-demo-14.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-14.css' %}" />
  </head>
  <body>
    {% comment %} start page-wrapper {% endcomment %}
    <div class="page-wrapper">
      {% comment %} header {% endcomment %} 
      {% include '_header.html' %} 
      {% block content %}{% endblock content %} 
      {% include '_footer.html' %}
    </div>
    {% comment %} end page-wrapper {% endcomment %}
    <button id="scroll-top" title="Back to Top">
      <i class="icon-arrow-up"></i>
    </button>

    {% comment %} mobile menu {% endcomment %} 
    {% include '_mobile_nav.html' %}
    {% comment %} signin modal {% endcomment %} 
    {% include '_signin_modal.html'%} 
    {% comment %} newsletter popup {% endcomment %}
    {% include 'newsletter_popup.html' %}

    <!-- Plugins JS File -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/demos/demo-14.js' %}"></script>
  </body>
</html>
